DF# R created files
*.Rproj
*.Rproj.user
*.Rhistory
*.Ruserdata
*.history
*.RData


# Files that come with knitting the document, not worth sharing
emopoint.pdf
*.tex
*.fff
emopoint.docx
*.html

# Folders
/roger_scripts/*
/papers/*
/emopoint_files/*

#etc
Emopoint Outtakes.mp4
library.bib
emopoint_bayes.Rmd

